@import "tailwindcss";

:root {
  --background: #0f172a;
  /* Slate 900 */
  --foreground: #f8fafc;
  /* Slate 50 */
  --primary: #38bdf8;
  /* Sky 400 */
  --secondary: #818cf8;
  /* Indigo 400 */
}

@layer base {
  body {
    background-color: var(--background);
    color: var(--foreground);
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.animate-fade-in {
  animation: fade-in 0.5s ease-out;
}